<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
</head>
<body>
    <form th:action="@{'/courses/edit/' + course.id}" method="post">
      <input type="hidden" name="id" th:value="${course.id}">
      <label>Title: <input type="text" name="title" th:value="${course.title}"></label><br>
      <label>Description: <input type="text" name="description" th:value="${course.description}"></label><br>
      <label>Full: <input type="checkbox" name="full" th:checked="${course.full}"></label><br>
      <button type="submit">Update</button>
    </form>
</body>
</html>